<div class="result-document">
  #foreach($fieldname in $doc.fieldNames)
     #if($fieldname!="seqid")
     <p>
       <span class="field-name">$fieldname :</span>
       <span>
       #foreach($value in $doc.getFieldValues($fieldname))
         $value
       #end
       </span>
     </p>
     #end
  #end
</div>