Package: seqcrawler
Version: 1.1-1
Architecture: amd64
Maintainer: Olivier Sallou <olivier.sallou@irisa.fr>
Installed-Size: 175988
Depends: tomcat6, openjdk-6-jdk, gbrowse, mongodb, libmongodb-perl, libio-all-lwp-perl, liburi-perl
Section: science
Priority: extra
Homepage: http://seqcrawler.sourceforge.net
Description: index, browse and retrieve biological data
 blablabla
